* {
    margin: 0px;
    padding: 0px;
}

a {
    text-decoration: none;
    color: inherit;
}


header {
    height: 150px;
    width: 100vw;
}

body {
    font-family: 'Itim';
}

.Logo {
    height: 110px;
    width: 150px;
}

nav {
    width: 100vw;
    height: 150px;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #2B4D9C;
}

footer {
    width: 100vw;
    height: 100px;
    background-color: #2B4D9C;
    position: fixed;
    bottom: 0;
}

.links {
    margin-left: 20px;
    height: 150px;
    width: 1000px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.link {
    color: #ffffff;
    text-decoration: none;
}

.welcome-text {
    font-size: 50px;
    color: #00A19A;
    height: 300px;
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    background: url("images/Groep.jpg") no-repeat fixed;
    margin-bottom: 120px;
}

.welcome-img {
    height: 100%;
    width: 100%;
    border-radius: 20px;
    z-index: 0px;
}

.w-text {
    font-size: 50px;
    color: #00A19A;
    z-index: 1px;
    margin-top: -130px;
}

main {
    width: 100vw;
    height: 60vh;
    
}

.portret {
    height: 600px;
    width: 300px;
    border-radius: 10px;
}

.text-box {
    height: 150px;
    width: 260px;
    background-color: gray;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-style: solid;
    border-color: #000000;
    border-width: 2px;
    border-radius: 10px;
}

.margin {
    margin-bottom: 40px;
}

.about-block {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 120px;
    margin-top: 70px;
}

.spacing {
    height: 180px;
    width: 100vw;
}

.ytlogo {
    width: 80px;
}

.yt {
    margin-top: 10px;
    margin-right: -5px;
}

.tik {
    width: 75px;
    margin-left: 5px;
}

.contact-block {
    background-color: #2B4D9C;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #ffffff;
    height: 150px;
    width: 600px;
    border-radius: 10px;
    font-size: 20px;
}

.contact {
    display: flex;
    align-items: center;
    justify-content: center;
}

.social-media {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
}

.x {
    border-radius: 5px;
    margin-top: 15px;
}

.logo-link {
    height: 250px;
    width: 500px;
    border-radius: 20px;
    margin-top: 25px;
}

.decay {
    display: flex;
    flex-direction: column;
}

.open {
    width: 100vw;
    height: 100px;
}

.text {
    color: #2B4D9C;
}

.marg {
    margin-top: 10px;
}

.txtbackground {
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #ffffff;
    width: 500px;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
}

body {
    font-family: 'Itim';
}